<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053609972983-4rq2mm40h5qaintdfpaqeejr6mt03bum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053609972983-4rq2mm40h5qaintdfpaqeejr6mt03bum</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1053609972983-b1f7sm7ieoenatil7cmk6sgnvn4t31pu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDWtegade_IQrK5lp5KF-a2ZukWovrBwg</string>
	<key>GCM_SENDER_ID</key>
	<string>1053609972983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.holytune.app</string>
	<key>PROJECT_ID</key>
	<string>holytune-f615a</string>
	<key>STORAGE_BUCKET</key>
	<string>holytune-f615a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053609972983:ios:aefc8614999ed258216ff2</string>
</dict>
</plist>